{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Entry</h1>

    <form action="{% url 'saveedit' %}" method="POST">
        {% csrf_token %}
        <h4><label for="title">Title:</label></h4>
        <input style="margin-bottom: 30px;" name="title" value="{{ title }}"> 
        <br><h4><label for="body">Markdown Content:</label></h4>
        <textarea style="height: 300px;" name="body">{{ content }}</textarea>
        <br><input class="btn btn-primary" type="submit" value="save">
    </form>

{% endblock %}