{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Entry</h1>

    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        <h4><label for="title">Title:</label></h4>
        <!-- add style for input!! margin-bottom, width -->
        <input id="title" name="title" placeholder="enter a title"> 
        <br><h4><label for="body">Markdown Content:</label></h4>
        <textarea id="body" name="body" placeholder="enter markdown content for your page"></textarea>
        <!-- add style for submit btn!! color etc -->
        <br><input id="sbmtbtn" type="submit" value="save">
    </form>

{% endblock %}