{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Entry</h1>

    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        <h4><label for="title">Title:</label></h4>
        <input style="margin-bottom: 30px;" name="title" placeholder="Enter a title."> 
        <br><h4><label for="body">Markdown Content:</label></h4>
        <textarea style="height: 300px;" name="body" placeholder="Enter: # Title and content for your entry."></textarea>
        <br><input class="btn btn-primary" type="submit" value="save">
    </form>

{% endblock %}